:root {
    --violet: #582C4D;
    --rose: #A26769;
    --pale: #D5B9B2;
    --bone: #ECE2D0;
    --silver: #BFB5AF;
}

@font-face {
    font-family: Cinzel-Bold;
    src: url('./assets/CinzelDecorative-Bold.ttf');
}

@font-face {
    font-family: Cinzel-Regular;
    src: url('./assets/CinzelDecorative-Regular.ttf');
}

body {
    box-sizing: border-box;
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px auto;
    background-color: var(--silver);
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--violet);
    color: #ECE2D0;
    border-radius: 0px 10px 10px 0px;
    border-bottom: 2px solid var(--bone);

    .logo {
        margin: 40px auto;
        padding: 0px 10px;
        display: flex;
        gap: 10px;
        text-align: center;

        svg {

            color: var(--silver);
        }

        p {
            font-family: Cinzel-Bold, 'Courier New', Courier, monospace;
            font-size: 1.8rem;
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }

    .openModal {
        margin: 15vh auto;        
        width: 40%;
        border-radius: 6px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: var(--pale);
        padding: 8px 15px;
        color: #582C4D;
        font-size: 1rem;
        font-weight: 700;
    }

    .openModal:hover {
        margin: calc(15vh - 2px) auto; 
        padding: 10px 17px;
        width: calc(40% + 2px);
    }

    dialog {
        height: 400px;
        width: 250px;
        background-color: var(--bone);
        color: var(--violet);
        font-family: Courier, monospace;
        font-size: 1rem;
        border: 2.5px solid var(--violet);
        box-shadow: 6px 6px 0px 0px var(--violet);
        border-radius: 5px;

        form {
            height: 100%;
            padding: 0px;

            .dialog-legend {
                display: flex;
                justify-content: space-between;
                border-bottom: 2px solid var(--silver);
                align-items: center;

                p {
                    font-size: 1.2rem;
                    font-weight: 700;
                }
    
                button {
                    border: 2px solid var(--violet);
                    background-color: var(--pale);
                    color: var(--violet);
                    border-radius: 3px;
                    padding: 0px;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                }
            }

            ul {
                height: 70%;
                padding: 0px;
                list-style-type: none;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                li:last-of-type {
                    justify-content: space-evenly;
                }

                li {
                    margin: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    input[type="text"], input[type="number"] {
                        width: 62%;
                        font-family: "Helvetica", "Arial", sans-serif;
                        font-size: 1rem;
                        border: 2px solid var(--silver);
                        border-radius: 4px;
                        overflow-x: scroll;
                        padding: 3px 5px;
                    }

                    input[type="text"]:focus , input[type="number"]:focus {
                        border: 2px solid var(--violet);
                        outline: none;
                    }

                    input[type="text"]::placeholder , input[type="number"]::placeholder {
                        color: #c6c9cd;
                        font-size: 0.95rem;
                    }
                }
            }

            > button {
                margin: 0 auto;
                display: block;
                font-size: 0.9rem;
                font-weight: 500;
                border: none;
                border-radius: 8px;
                background-color: var(--violet);
                color: white;
                text-align: center;
                padding: 4px 16px;
                cursor: pointer;
            }
        }
    }
}

section {
    background-color: var(--silver);
    border-radius: 10px;

    .card-layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        margin: 30px;
        grid-column-gap: 15px;
        grid-row-gap: 25px;

        .card {
            padding: 20px 10px;
            border-left: 10px solid var(--rose);
            border-radius: 10px;
            background-color: var(--bone);

            p {
                margin: 15px 0px;
            }

            .card-title {
                height: 52px;
                font-size: 1.4rem;
            }

            .card-author {
                font-family: 'Courier New', Courier, monospace;
                font-size: 1.1rem;
                font-weight: 500;
                border-top: 1.5px solid var(--rose);
                padding-top: 10px;
            }

            .card-pages {
                font-family: 'Courier New', Courier, monospace;
                font-size: 1.1rem;
            }

            div {
                display: grid;
                grid-template-columns: 1fr auto;

                .card-read {
                    border: 2px solid var(--pale);
                    background-color: #A26769;
                    color: var(--bone);
                    border-radius: 5px;
                    width: 100px;
                    padding: 5px 10px;
                    font-size: 0.85rem;
                    cursor: pointer;
                }

                svg {
                    color: var(--silver);
                    justify-self: end;
                    cursor: pointer;
                }
            }
        }
    }
}